
.background {
    -fx-background-color: #3B3E43;
}

.backgroundStart {
    -fx-background-image: url("/images/startBackground.png");
}

.backgroundGame {
    -fx-background-image: url("/images/gameBackground.png");
}

.backgroundLeaderboard {
    -fx-background-image: url("/images/leaderboardBackground.png");
}

.leaderboard {
    -fx-background-image: url("/images/leaderboardRecBackground.png");
}

.loginWindow {
    -fx-background-image: url("/images/loginBackground.png");
}

.bird {
    -fx-fill: rgba(255, 255, 255, 1);
}

.obstacle {
    -fx-fill: rgba(0, 0, 0, .8);
}

.getReadyLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 60;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(0.4, 0.5, 0.5, 0.4), 2, 0.4, 2, 1);
}

.counterLabel {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 90;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(0.4, 0.5, 0.5, 0.4), 2, 0.4, 2, 1);
}

.score {
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 62;
    -fx-text-fill: rgba(255, 255, 255, 1);
    -fx-alignment: CENTER;
    -fx-effect: dropshadow(gaussian, rgba(0.4, 0.5, 0.5, 0.4), 2, 0.4, 2, 1);
}

.flappyResetLabel {
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-border-color: rgba(255, 255, 255, .3);
    -fx-border-radius: 5%;
    -fx-alignment: CENTER;

    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 16;
    -fx-text-fill: rgba(0, 0, 0, .7);
}

.flappyResetLabel:hover {
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-border-color: rgba(255, 255, 255, .5);
    -fx-text-fill: rgba(0, 0, 0, .9);
}

.close {
    -fx-opacity: .5;
}

.close:hover {
    -fx-opacity: .8;
}

.scoreButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0.4, 0.5, 0.5, 0.6), 2, 0.4, 2, 1);
}

.loginButton:hover {
    -fx-effect: dropshadow(gaussian, rgba(0.4, 0.5, 0.5, 0.1), 2, 0.4, 2, 1);
}


/* LOGIN WINDOW */
.playerNameTextfield {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgba(50, 34, 18, .3) transparent;
    -fx-border-width: 2;
    -fx-alignment: CENTER;

    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-text-fill: rgba(50, 34, 18, .8);
    -fx-prompt-text-fill: rgba(50, 34, 18, .4);
}

.loggedInLabel {
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-text-fill: rgba(50, 34, 18, .8);
    -fx-alignment: CENTER;
}

.playerLabel {
    -fx-font-family: Arial;
    -fx-font-size: 42;
    -fx-text-fill: rgba(50, 34, 18, .8);
    -fx-alignment: CENTER;
}


/* LEADERBOARD WINDOW */
.leaderboardTableView {
    -fx-background-color: transparent;
}

.leaderboardTableView:focused{
    -fx-background-color: transparent;
}

.leaderboardTableView .column-header-background{
    -fx-background-color: transparent;
}

.leaderboardTableView .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-text-fill: rgba(50, 34, 18, .8);
}

.leaderboardTableView .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 50;
}

.leaderboardTableView .table-cell{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

    -fx-font-family: Arial;
    -fx-font-size: 16;
    -fx-text-fill: rgba(50, 34, 18, .7);
    -fx-alignment: CENTER;
}

.leaderboardTableView .table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.leaderboardTableView .table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.leaderboardTableView .corner {
    -fx-background-color: transparent;
}

.leaderboardTableView .filler {
    -fx-background-color: transparent;
}

.leaderboardTableView .virtual-flow .scroll-bar:vertical,
.leaderboardTableView .virtual-flow .scroll-bar:vertical .track,
.leaderboardTableView .virtual-flow .scroll-bar:vertical .track-background,
.leaderboardTableView .virtual-flow .scroll-bar:horizontal,
.leaderboardTableView .virtual-flow .scroll-bar:horizontal .track,
.leaderboardTableView .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.leaderboardTableView .virtual-flow .scroll-bar .increment-button,
.leaderboardTableView .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  rgba(50, 34, 18, .3);
}